.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 100vh;
}

.search-box {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  border-bottom: 1px solid white;
}

.search-box h2 {
  font-size: 2rem;
}