

.leaderboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.leaderboard-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgba(17, 17, 17, 0.3);
  backdrop-filter: blur(10px);
}

span {
  margin-right: 10px;
  font-size: 1.2rem;
  color: rgb(12, 189, 189);
}

.leaderboard-row .popularity {
  width: 200px;
}

.leaderboard-row .title {
  width: 400px;
  margin-left: 20px;
  margin-right: 100px;
}

.leaderboard-row .vote-count {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 380px;
}

.vote-count .votes{
  font-size: .8rem;
}

