nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #242424;
}

nav .logo {
  display:  flex;
  align-items: center;
  height: 100%;
  margin-left: 3rem;
  cursor: pointer;
}

nav h2{
font-size: 2rem;
margin: 0;
text-align: end;
}

.links {
  display: flex;
  gap: 4rem;
  margin-right: 3rem;
}

.links .link-wrapper:last-child svg {
  font-size: 1.5rem;
  cursor: pointer;
  transition: scale .2s;
}

.links .link-wrapper:last-child svg:hover {
  scale: 1.1;
}


.links a {
  color: unset;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color .2s;
}

.links a:hover {
  color: rgb(12, 189, 189);
}