.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 500px;
  overflow: auto;
}

.media {
  display: flex;
  gap: 20px;
}

.trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 170px;
  height: 40px;
  padding-inline: 10px;
  border-radius: 20px;
}

.trending input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-inline: 10px;
  border: 1px solid #5a5757;
  border-radius: 20px;
  appearance: none;
  margin: 0;
}

.trending input:checked ~ .check-slider {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  height: 100%;
  width: 50%;
  background-color: aqua;
  border-radius: 20px;
  transition: .3s;
}

.trending input:not(:checked) ~ .check-slider {
  position: absolute;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: aqua;
  border-radius: 20px;
  transition: .3s;
}

.movies-check {
  position: absolute;
  z-index: 22;
  left: 13px;
  pointer-events: none;
}

.shows-check {
  position: absolute;
  z-index: 22;
  right: 13px;
  pointer-events: none;
}

.trending input:checked ~ .movies-check,  input:not(:checked) ~ .shows-check {
  color: white;
  transition: .3s;
}

.trending input:not(:checked) ~ .movies-check, .trending input:checked ~ .shows-check {
  color: black;
  transition: .3s;
}

.slider::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.slider::-webkit-scrollbar-track {
  background: #5a5757;
  border-radius: 5px;
  
}

/* Handle */
.slider::-webkit-scrollbar-thumb {
  background: #888;
}

.slider .poster-wrapper {
  width: 250px;
}

.slider .poster-wrapper img {
  width: 100%;
  object-fit: cover;
}