.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 700px;
  overflow: auto;
  background-size: cover;
  transition: background-image .3s;
}

.media {
  display: flex;
  gap: 50px;
}

.trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 250px;
  height: 40px;
  padding-inline: 10px;
  margin-left: 20px;
  border-radius: 20px;
}

.trending input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-inline: 10px;
  border: 1px solid #5a5757;
  border-radius: 20px;
  appearance: none;
  margin: 0;
  cursor: pointer;
  background-color: #242424;
}

.trending input:checked ~ .check-slider {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  height: 100%;
  width: 50%;
  background-color: aqua;
  border-radius: 20px;
  transition: .3s;
}

.trending input:not(:checked) ~ .check-slider {
  position: absolute;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: aqua;
  border-radius: 20px;
  transition: .3s;
}

.movies-check {
  position: absolute;
  z-index: 22;
  left: 27px;
  font-size: 1.1rem;
  pointer-events: none;
}

.shows-check {
  position: absolute;
  z-index: 22;
  right: 27px;
  font-size: 1.1rem;
  pointer-events: none;
}

.trending input:checked ~ .movies-check,  input:not(:checked) ~ .shows-check {
  color: white;
  transition: .3s;
}

.trending input:not(:checked) ~ .movies-check, .trending input:checked ~ .shows-check {
  color: black;
  transition: .3s;
}

.slider::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.slider::-webkit-scrollbar-track {
  background: #5a5757;
  border-radius: 5px;
  
}

/* Handle */
.slider::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.slider .poster-wrapper {
  width: 250px;
}

.slider .poster-wrapper img {
  width: 100%;
  object-fit: cover;
}

.media-card {
  animation: fade-in .5s ;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}